body {
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.p1 {
  display: inline;
  position: absolute;
}
.main-table {
  display: inline;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}
.main-table tr th {
  /*padding: 250px;*/
  height: 10vh;
  padding: none;
  margin: 0;
  width: 15vh;
}
.main-table tr td {
  /*padding: 250px;*/
  height: 27vh;
  padding: none;
  margin: 0;
}
.main-table tbody {
  display: table;
  width: 100%;
  padding: 0;
}
.border-row {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  /* background-color: red */
}
.monday-col,
.wednesday-col,
.friday-col,
.sunday-col {
  background-color: #fbebcc;
}

.tuesday-col,
.thursday-col,
.saturday-col {
  background-color: #fbf7ef;
}

.main-table th img {
  width: 12.5vw;
}
.time-of-day img {
  position: relative;
  width: 1vw;
}

.this-week {
  color: purple;
  font-family: sans-serif;
  font-size: 1vw;
}

/*Side bar*/

.sidebar {
  padding: 0;
  margin: 0;
  display: inline;
  float: left;
  height: 100vh;
}

.sidemenu {
  position: absolute;
  right: -21vw;
  background-color: #fbd988;
  width: 22vw;
  height: 65vh;
  transition: 0.4s;
  overflow: scroll;
  height: 100vh;
}

.sidemenu table {
  position: absolute;
  display: inline;
  border: 2px solid black;
  height: 70vh;
}

.sidemenu table td {
  padding: 0;
  margin: 0;
  border: 2px solid black;
  height: 10vh;
}

.sidemenu table td img {
  padding: 0;
  width: 4.9vw;
}

.next-week {
  font-size: 2.25vw;
  color: white;
  background-color: #2cb8f0;
  text-decoration: none;
  font-family: sans-serif;
  top: 96vh;
  position: absolute;
}

.this-week-link {
  font-size: 2.25vw;
  color: white;
  background-color: #e844f4;
  text-decoration: none;
  font-family: sans-serif;
  top: 96vh;
  position: absolute;
  font-weight: lighter;
}
/* .sidebar:active {
   border: 2px solid red; 
} */

/*.sidemenu:hover {
	right: 0px;
}*/
